{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
    <br>
      <h1>{% if not (current_user.is_authenticated) %} Please log in {% else %} {{ current_user.full_name() }} {% endif %}</h1><br><br>
        {% if (current_user.is_authenticated) %}
        <div class = "row">
            <div class = "col-sm-4 col-sm-offset-0">
                <a href = {{url_for("shifts.add_shifts")}}><button type="button" class="btn btn-primary btn-lg">Add Shifts</button></a>
            </div>
            <div class = "col-sm-4 sm-offset-2">
                <a href = {{url_for("shifts.drop_shifts")}}><button type="button" class="btn btn-primary btn-lg">Drop Shifts</button></a>
            </div>
             <div class = "col-sm-4 col-sm-offset-0">
                <a href = {{url_for("shifts.pickup_shifts")}}><button type="button" class="btn btn-primary btn-lg">Pickup Shifts</button></a>
            </div>
            
        </div>
        {% else %}
        {% endif %}
    </div>
{% endblock %}
