{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block content %}
{{ f.begin_form(form, []) }}
{% for pair in store %}

<input style = "display: inline; transform: scale(1.3);margin-left:0.5em; outline: 1px solid #000000" type="checkbox" id="slot_{{loop.index|string}}" name="slot_{{pair[0]}}">  
<h4 style="margin-left: 1em;display: inline"> {{pair[0]}}-{{pair[1]}} </h4><br><br> 
{% endfor %}

                {{ f.render_form_field(form.submit) }}
            {{ f.end_form(form) }}
{% endblock %}
