{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block content %}
{{ f.begin_form(form, []) }}
{% for date in dates %}
{% set dateloop = loop %}
<div class="row" style = "margin-left: 0.5em">
{% for item in store %}
<div class="col-sm-3">

    <h3>{{days[loop.index-1]}} ({{dates[dateloop.index - 1][loop.index - 1]}})</h3>
    {% set dayloop = loop %}
{% if item %}
{% for pair in item %}
    {% for time in pair %}
<input style = "display: inline; transform: scale(1.3);margin-left:0.5em; outline: 1px solid #000000" type="checkbox" id="{{dateloop.index}}" name="slot_{{time[0]}}_{{days[dayloop.index-1]}}">
{% if (time[0]|round - time[0])|abs < 0.01%}
<h4 style="margin: 0.4em;display: inline"> {{time[0]|round(method='floor')|int}}:00-{{time[1]|round(method='floor')|int}}:30 </h4>
{% else %}
<h4 style="margin:0.4em;display: inline"> {{time[0]|round(method='floor')|int}}:30-{{time[1]|round(method='floor')|int}}:00 </h4>
{% endif %}
<br>
    {% endfor %}
    {% endfor %}
    {% endif %}

</div>
{% endfor %}
</div>
{% endfor %}

                {{ f.render_form_field(form.submit) }}
            {{ f.end_form(form) }}
{% endblock %}
